/* Adicione estas regras ao seu arquivo style.css */

@charset "UTF-8";
@font-face {
    font-family: "titulo";
    src: url(fonts/neuropolitical\ rg.otf);
}


/* Cores */
:root {
    --cor-fundo-body: #f8f9fa; /* Fundo geral */
    --cor-fundo-header: #343a40b4; /* Fundo do cabeçalho */
    --cor-fundo-retangulo: #6c757d; /* Fundo dos retângulos */
    --cor-fundo-apresentacao: #ffffff; /* Fundo da seção de apresentação */
    --cor-fundo-projetos: #343a40; /* Fundo da seção de projetos */
    --cor-texto: #212529; /* Cor do texto principal */
    --cor-link: #0751a1; /* Cor dos links */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo-body);
    color: var(--cor-texto);
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: var(--cor-fundo-header);
    position: fixed;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #ffffff; /* Texto branco para o cabeçalho */
    font-family: "titulo";
}

.retangulo {
    background-color: var(--cor-fundo-retangulo);
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 10px;
    color: #ffffff; /* Texto branco para os retângulos */
    font-family: "titulo";
    font-size: 1.4em;
    padding: 5px;
}

.apresentaçao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--cor-fundo-apresentacao);
    padding: 20px;
    flex-wrap: wrap;

    
}
.apresentaçao p{
    margin: 5px;
    line-height: 1.8;
    background-color: #f8f4f4;
    padding: 20px;
 
}

.apresentaçao section {
    max-width: 800px;
    text-align: justify;
    line-height: 1.5;
   
}

.apresentaçao div > picture {
    width: 100%;
    background-color: #1285ff;
    
}

.projetos section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Para lidar com a responsividade */
    padding: 20px;
    background-color: var(--cor-fundo-projetos);
}

.projetos img {
    height: 300px;
    width: 300px;
    background-color: #0751a1;
    margin: 10px;
}

.contatos {
    columns: 4;
    margin: 20px auto; /* Centraliza horizontalmente */
    max-width: 100%;
}

.contatos a {
    text-decoration: none;
    color: var(--cor-link);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 20px;
    margin: auto;
    
}

.contatos a :hover{
    text-decoration: underline;
    color: #3f9cff;
    transform:  scale(1.1);
    transition: 0.5s;
}

.contatos p {
    font-size: 14px;
    margin: 5px;
}
.site img{
    width: 300px;
    height: 300px;
    background-color: #0751a1;
    
}

