
@charset "UTF-8";
@font-face {
    font-family: "titulo";
    src: url(fonts/neuropolitical\ rg.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


/* Cores */
:root {
    --cor-fundo-body: #000000ea; /* Fundo geral */
    --cor-fundo-header: #070707; /* Fundo do cabeçalho */
    --cor-fundo-retangulo: #000000; /* Fundo dos retângulos */
    --cor-fundo-apresentacao:#000000 ; /* Fundo da seção de apresentação */
    --cor-fundo-projetos: #000000; /* Fundo da seção de projetos */
    --cor-texto: #fff8f8; /* Cor do texto principal */
    --cor-link: #ffffff; /* Cor dos links */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--cor-fundo-body);
    color: var(--cor-texto);
    font-family: Arial, sans-serif;
}
/*-------------------FIM--------------------*/




/*-------------------CABECALHO--------------------*/
header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url(img/grey-black-texture-concrete.jpg);
    background-size: cover;
    background-position: top;
    border-bottom: 5px solid rgb(232, 232, 232);
    width: 100%;
    font-size: 16px;
    color: #ffffff; /* Texto branco para o cabeçalho */
    font-family: "Roboto Mono", monospace;
    padding: 10px;
}
/*-------------------FIM--------------------*/




/*-------------------RETANGULOS--------------------*/
.retangulo {
    background-color: var(--cor-fundo-retangulo);
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 10px;
    color: #ffffff; /* Texto branco para os retângulos */
    font-family: "Roboto Mono", monospace;
    font-size: 1.4em;
    padding: 5px;
}
/*-------------------FIM--------------------*/




/*-------------------APRESENTAÇÃO--------------------*/
.apresentaçao {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background-image: url(img/cyber-security-expert-working-with-technology-neon-lights.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
    flex-wrap: wrap;
    height: 100vh;  
}




.apresentaçao p{
    line-height: 1.8;
    padding: 20px;
    color: var(--cor-texto);
    border: 3px solid rgb(0, 0, 0);
    font-family: "Roboto Mono", monospace;
    text-transform: capitalize;
    
 
}
.imagemperfil{
    height: 200px;
    background: #0000006f;
    border-radius: 50%;
    margin-top: 15px;
    border: 5px solid white;
}

.apresentaçao section {
        
    min-width: 50px;
    max-width: 800px;
    text-align: justify;
    line-height: 1.5;
    margin: 50px;
    background-color: #000000a3;
    border: 2px solid white;
   
}
/*-------------------FIM--------------------*/




/*-------------------PROJETOS--------------------*/
.projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--cor-fundo-projetos);
}
.projetos img {
    display: flex;
    height: 200px;
    width: 400px;
    background-color: #0751a1;
    margin: 10px;
    border: 5px solid rgb(19, 103, 139);
}
#BACK-END{
    background-image: url(img/v627-aew-01-technologybackground.jpg);
    background-size: cover;
}
#FRONT-END{
    background-image: url(img/v627-aew-01-technologybackground.jpg);
    background-size: cover;
}
#icone{
    display: inline;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    opacity: 0;
}
/*-------------------FIM--------------------*/




/*-------------------PROJETOS-DESC--------------------*/
article figcaption{
    display: none;
    position:absolute ;
    top: 0;
    color:rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 20px;
    opacity: 0;
    border: 1px solid white;

    
}
figure{
    position: relative;
    font-size: 12px;
}  
figure:hover figcaption {
    display: block;
    opacity: 1;
    background:rgba(50, 50, 50, 0.827);
    width: 95%;
    height: 100%;
    left: 10px;
}
figure:hover img{
    width: 95%;
 
}
figure:hover #icone{
    opacity: 1;
    margin: 0px;
   
 }
/*-------------------FIM--------------------*/




/*-------------------BOTÃO--------------------*/
button{
    background-color: var(--cor-fundo-projetos);
    color: white;
    width: 100px;
    border-radius: 100px;
    margin-top: 5%;
    pointer-events:stroke;
    
}
button a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto Mono", monospace;
}
/*-------------------FIM--------------------*/




/*-------------------CONTATOS--------------------*/
.contatos {
    columns: 4;
    margin: 20px auto; /* Centraliza horizontalmente */
    max-width: 100%;
}

.contatos a {
    text-decoration: none;
    color: var(--cor-link);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 20px;
    margin: auto;
    
}
.contatos a :hover{
    text-decoration: underline;
    transform:  scale(1.1);
    transition: 0.5s;
}

.contatos p {
    font-size: 14px;
    margin: 5px;
}
/*-------------------FIM--------------------*/

